/*<!-- 섹션크기 -->*/
.bg-light {
    height: 1053px;
    padding-top: 55px;
    padding-bottom: 75px;
}

/*<!-- 입력창 -->*/
.container.py-4 {
    margin: 0 auto;
    width: 433px;
}

/*<!-- 회원가입 버튼 -->*/
.d-grid.gap-2 {
    padding-top: 30px;
}
