<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link href="css/Login.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="center">

    <form action="/login" method="POST" onsubmit="return validateForm()">
        <input type="text" id="username" name="username" placeholder="이메일" ><br>
        <input type="password" id="password" name="password" placeholder="비밀번호" ><br><br>
        <input type="submit" value="로그인">
    </form>
    <div class="link-container">
        <button onclick="window.location.href='/register'">회원가입</button>
        <button onclick="window.location.href='/findPassword'">비밀번호찾기</button>
    </div>
</div>

<script>
    function validateForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        if (username === "") {
            alert("아이디를 입력하세요.");
            return false;
        }
        else if(password === "") {
            alert("비밀번호를 입력하세요.");
            return false;
        }
    }

    window.onload = function() {
        var warningMessage = "{{warningMessage}}";
        var errorMessage = "{{errorMessage}}";

        if (warningMessage && warningMessage.length > 0) {
            alert(warningMessage);
        }
        if (errorMessage && errorMessage.length > 0) {
            alert(errorMessage);
        }
    }
</script>
</body>
</html>
