<html>
<head>
    <style>
        /*<!-- 섹션크기 -->*/
        .bg-light {
            height: 1053px;
            padding-top: 55px;
            padding-bottom: 75px;
        }

        /*<!-- 입력창 -->*/
        .container.py-4 {
            margin: 0 auto;
            width: 503px;
        }

        /*<!-- 회원가입 버튼 -->*/
        .d-grid.gap-2 {
            padding-top: 30px;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/style.css" rel="stylesheet"/>
    <title> SignUp </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<section class="bg-light">
    <div class="container py-4">
        <div class="row align-items-center justify-content-between">
            <a class="navbar-brand hi text-center" href="/signup">
                <span class="text-dark h4"> Sign Up  </span>
            </a>
        </div>
<form id="signupForm" action="/signup" method="post">
        <div>
            <!-- 아이디 입력 -->
            <div class="form-group">
                <label for="exampleInputEmail1" class="form-label mt-4"> ID </label>
                <input type="text" id="id" name="id" value="{{#userDto}}{{userDto.id}}{{/userDto}}" oninput="hideidMessage()" class="form-control" placeholder="아이디를 입력해주세요"/>
                {{#valid_id}} <span id="valid_id" style="font-size: 12px; color:red;">{{valid_id}}</span> {{/valid_id}}
                <div><span id="checkId"></span></div>


                <!-- 아이디 중복확인 버튼 -->
                    <span class="form-group-checkid-button"></span>
                    <button class="btn btn-primary" type="button" id="checkidButton" style="  background : dodgerblue; position: absolute;top: 183px;right: 440px;transform: translate(-50%, -50%);">
                        중복확인
                    </button>
            </div>

            <div class="form-group has-success">
                <!-- 비밀번호 입력 -->
                <label class="form-label mt-4" for="inputValid"> Password </label>
                <input type="password" id="pw" name="pw" value="{{#userDto}}{{userDto.pw}}{{/userDto}}" oninput="hidepwMessage()" class="form-control" placeholder="비밀번호를 입력해주세요"/>
                {{#valid_pw}} <span id="valid_pw" style="font-size: 12px; color:red;">{{valid_pw}}</span> {{/valid_pw}}


                <div class="valid-feedback"></div>
            </div>
        </div>
        <div class="form-group has-danger">

            <!-- 비밀번호 재확인 입력 -->
            <label class="form-label mt-4" for="inputInvalid"> Re-enter Password </label>
            <input type="password" class="form-control invalid" id="newRe-enterPW">
            <div><span id="checkPw"></span></div>
        </div>
    <div class="form-group-nickname">
        <label class="form-label mt-4" for="newNickName">Nickname</label>
        <div class="input-group">
            <input type="nickname" name="nickname" id="nickname" value="{{#userDto}}{{userDto.nickname}}{{/userDto}}" oninput="hidenicknameMessage()" class="form-control" placeholder="닉네임을 입력해주세요" />
        </div>
        {{#valid_nickname}} <span id="valid_nickname" style="font-size: 12px; color:red;">{{valid_nickname}}</span> {{/valid_nickname}}
    </div>

    <div class="d-grid gap-2">
            <!-- 회원 가입 버튼 -->
            <button class="btn btn-primary btn-lg" type="submit" id="signUpButton" style="background: dodgerblue"> Sign UP</button>
        </div>
    </div>
    </form>
</section>

</body>
</html>

<!-- 스크립트 -->
<script>
    {
        // ID(email) 입력란 변수화
        const idInput = document.querySelector("#id");

        // ID(email) 형식 검증
        const validateEmail = (email) => {
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return emailPattern.test(email);
        };

        // ID(email) 형식 확인
        const checkEmail = () => {
            const email = idInput.value;
            const emailMessage = document.querySelector("#checkId");

            if (validateEmail(email)) {
                emailMessage.textContent = 'Valid email format';
                emailMessage.style.color = '#2fb380';
                idInput.classList.remove("is-invalid");
                idInput.classList.add("is-valid");
            } else {
                emailMessage.textContent = 'Invalid email format';
                emailMessage.style.color = '#dc3545';
                idInput.classList.remove("is-valid");
                idInput.classList.add("is-invalid");
            }
        };

        // ID(email) 입력란에 keyup 이벤트 핸들러 추가
        idInput.addEventListener("keyup", checkEmail);

        // 비밀번호 재확인 입력란 변수화
        const newReEnterPWInput = document.querySelector("#newRe-enterPW");

        // 비밀번호 일치 여부 확인
        const checkPasswordMatch = () => {
            const newPassword = document.querySelector("#pw").value;
            const reEnteredPassword = newReEnterPWInput.value;
            const checkMessage = document.querySelector("#checkPw");

            if (newPassword !== "" || reEnteredPassword !== "") {
                if (newPassword !== reEnteredPassword) {
                    checkMessage.textContent = 'Password do not match';
                    checkMessage.style.color = '#dc3545';
                    newReEnterPWInput.classList.remove("is-valid");
                    newReEnterPWInput.classList.add("is-invalid");
                } else {
                    checkMessage.textContent = 'Password is match';
                    checkMessage.style.color = '#2fb380';
                    newReEnterPWInput.classList.remove("is-invalid");
                    newReEnterPWInput.classList.add("is-valid");
                }
            }
        };
        // 비밀번호 재확인 입력란에 keyup 이벤트 핸들러 추가
        newReEnterPWInput.addEventListener("keyup", checkPasswordMatch);
        // nickname 입력란 변수화
        const nicknameInput = document.querySelector("#nickname");

        // nickname check 메시지

        const checkMessage = document.querySelector("#checkNickName");
    }

    // id 검증메시지 실시간 처리 함수
    function hideidMessage() {
        var input = document.getElementById("id");

        var valid_id = document.getElementById("valid_id");
        if (input.value.trim() != "") {
            valid_id.style.display = "none"; //공백처리
        } else {
            valid_id.style.display = "block";
        }
    }

    // pw 검증메시지 실시간 처리 함수
    function hidepwMessage() {
        var input = document.getElementById("pw");
        var valid_pw = document.getElementById("valid_pw");
        var pattern = new RegExp('(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\\W)(?=\\S+$).{8,16}');

        if (input.value.trim() != "" && pattern.test(input.value)) {
            valid_pw.style.display = "none";
        } else {
            valid_pw.style.display = "block";
        }
    }

    // nickname 검증메시지 실시간 처리 함수
    function hidenicknameMessage() {
        var input = document.getElementById("nickname");

        var valid_nk = document.getElementById("valid_nickname");
        if (input.value.trim() != "") {
            valid_nk.style.display = "none";
        } else
        {
            valid_nk.style.display = "block";
        }
    }
</script>
<script>
    $("#checkidButton").click(function () {
        var id = $("#id").val(); // 사용자가 입력한 id를 받아옵니다.

        // AJAX 요청을 보냅니다.
        $.ajax({
            url: "/checkid", // 중복확인을 처리할 서버의 URL입니다.
            type: "post",
            data: { id: id },
            success: function (response) {
                // 서버에서 응답을 받았을 때의 처리입니다.
                if (response) { // 응답이 true라면, 즉 사용자 ID가 존재한다면
                    alert("중복된 아이디입니다.");
                   
                } else { // 그렇지 않다면
                    alert("사용 가능한 아이디입니다.");
                }
            }
        });
    });
</script>
